Nuevamente, vamos a leer primero unos datos...

# Lectura de un fichero de datos

In [1]:
# primero hacemos los imports de turno
import os
import datetime as dt

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline

In [6]:
# Leemos los datos del fichero 'mast.txt'
ipath = os.path.join('Datos', 'mast.txt')

def dateparse(date, time):
    YY = 2000 + int(date[:2])
    MM = int(date[2:4])
    DD = int(date[4:])
    hh = int(time[:2])
    mm = int(time[2:])
    
    return dt.datetime(YY, MM, DD, hh, mm, 0)
    

cols = ['Date', 'time', 'wspd', 'wspd_max', 'wdir',
        'x1', 'x2', 'x3', 'x4', 'x5', 
        'wspd_std']
wind = pd.read_csv(ipath, sep = "\s*", names = cols, 
                   parse_dates = [[0, 1]], index_col = 0,
                   date_parser = dateparse)

/home/tornado/miniconda3/envs/sciconda/lib/python3.5/site-packages/ipykernel/__main__.py:19: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
/home/tornado/miniconda3/envs/sciconda/lib/python3.5/site-packages/pandas/io/parsers.py:1588: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
/home/tornado/miniconda3/envs/sciconda/lib/python3.5/site-packages/pandas/io/parsers.py:1590: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

# Seleccionando datos

## Acceso a los valores como si fuera un numpy array

Podemos acceder a los datos usando indexación como haríamos con un numpy array o como se hace normalmente en Python:

* En Python la indexación empieza por 0 y el último elemento de la 'rebanada' (*slice*) no se incluye.

In [7]:
wind[0:10]

,wspd,wspd_max,wdir,x1,x2,x3,x4,x5,wspd_std
Date_time,,,,,,,,,
2013-09-04 00:00:00,2.21,2.58,113.5,999.99,999.99,99.99,9999.99,9999.99,0.11
2013-09-04 00:10:00,1.69,2.31,99.9,999.99,999.99,99.99,9999.99,9999.99,0.35
2013-09-04 00:20:00,1.28,1.50,96.0,999.99,999.99,99.99,9999.99,9999.99,0.08
2013-09-04 00:30:00,1.94,2.39,99.2,999.99,999.99,99.99,9999.99,9999.99,0.26
2013-09-04 00:40:00,2.17,2.67,108.4,999.99,999.99,99.99,9999.99,9999.99,0.23
2013-09-04 00:50:00,2.25,2.89,105.0,999.99,999.99,99.99,9999.99,9999.99,0.35
2013-09-04 01:00:00,2.66,2.96,114.4,999.99,999.99,99.99,9999.99,9999.99,0.12
2013-09-04 01:10:00,3.55,4.33,119.1,999.99,999.99,99.99,9999.99,9999.99,0.46
2013-09-04 01:20:00,4.26,4.50,122.1,999.99,999.99,99.99,9999.99,9999.99,0.08
2013-09-04 01:30:00,4.62,5.10,120.8,999.99,999.99,99.99,9999.99,9999.99,0.23

Los índices de un numpy array solo pueden ser enteros.

## Acceso a los valores mediante indexación de índices

Además, a diferencia de numpy, podemos acceder por índices que no necesariamente sean enteros:

In [8]:
wind['2013-09-04 00:00:00':'2013-09-04 01:30:00']

,wspd,wspd_max,wdir,x1,x2,x3,x4,x5,wspd_std
Date_time,,,,,,,,,
2013-09-04 00:00:00,2.21,2.58,113.5,999.99,999.99,99.99,9999.99,9999.99,0.11
2013-09-04 00:10:00,1.69,2.31,99.9,999.99,999.99,99.99,9999.99,9999.99,0.35
2013-09-04 00:20:00,1.28,1.50,96.0,999.99,999.99,99.99,9999.99,9999.99,0.08
2013-09-04 00:30:00,1.94,2.39,99.2,999.99,999.99,99.99,9999.99,9999.99,0.26
2013-09-04 00:40:00,2.17,2.67,108.4,999.99,999.99,99.99,9999.99,9999.99,0.23
2013-09-04 00:50:00,2.25,2.89,105.0,999.99,999.99,99.99,9999.99,9999.99,0.35
2013-09-04 01:00:00,2.66,2.96,114.4,999.99,999.99,99.99,9999.99,9999.99,0.12
2013-09-04 01:10:00,3.55,4.33,119.1,999.99,999.99,99.99,9999.99,9999.99,0.46
2013-09-04 01:20:00,4.26,4.50,122.1,999.99,999.99,99.99,9999.99,9999.99,0.08
2013-09-04 01:30:00,4.62,5.10,120.8,999.99,999.99,99.99,9999.99,9999.99,0.23

En este segundo ejemplo la indexación se hace mediante *strings* que son la representación de los índices (etiquetas de las posiciones). Otra cosa a resaltar es que en el *slice* el último elemento SÍ se incluye.

## Selección básica de columna (`DataFrame`)

En ejemplos anteriores, también hemos visto que podíamos seleccionar columnas usando el nombre de la columna:

In [9]:
wind['wspd'].head(3)

Date_time
2013-09-04 00:00:00    2.21
2013-09-04 00:10:00    1.69
2013-09-04 00:20:00    1.28
Name: wspd, dtype: float64

Depende como sean los nombres de las columnas, se puede acceder a la columna usando la notación 'de punto' (*dot notation*) pero como no siempre funciona y es propenso a errores os recomiendo no usar esta forma:

In [10]:
# Esto es equivalente a lo de la celda anterior
wind.wspd.head(3)

Date_time
2013-09-04 00:00:00    2.21
2013-09-04 00:10:00    1.69
2013-09-04 00:20:00    1.28
Name: wspd, dtype: float64

In [11]:
# Un ejemplo de potencial error
df1 = pd.DataFrame(np.random.randn(5,2), columns = [1, 2])
df1

          1         2
0 -0.658658 -1.627932
1  0.271826  0.229510
2 -0.072769  0.593323
3 -0.536611  0.734407
4  2.522143  0.442633

In [12]:
# Esto dará error
df1.1

SyntaxError: invalid syntax (<ipython-input-12-d688e6e80613>, line 2)

In [13]:
# Para que no dé error
df1[1]

0   -0.658658
1    0.271826
2   -0.072769
3   -0.536611
4    2.522143
Name: 1, dtype: float64

## *Fancy indexing* con `Series`

También se puede utilizar *Fancy indexing* con series, como si estuviéramos indexando con una lista o con un array de booleanos:

In [14]:
# Creamos una serie
wspd = wind['wspd']

# Accedemos a los elementos situados en las posiciones 0, 100 y 1000
print(wspd[[0, 100, 1000]])
print('\n' * 3)

# Usamos los índices en las posiciones 0, 100 y 1000
idx = wspd[[0, 100, 1000]].index
print(idx)
print('\n' * 3)

# Accedemos a los mismos que inicialmente pero usando los índices en lugar de 
# las posiciones de los valores
print(wspd[idx])

Date_time
2013-09-04 00:00:00     2.21
2013-09-04 16:40:00     7.45
2013-09-10 22:40:00    18.70
Name: wspd, dtype: float64




DatetimeIndex(['2013-09-04 00:00:00', '2013-09-04 16:40:00',
               '2013-09-10 22:40:00'],
              dtype='datetime64[ns]', name='Date_time', freq=None)




Date_time
2013-09-04 00:00:00     2.21
2013-09-04 16:40:00     7.45
2013-09-10 22:40:00    18.70
Name: wspd, dtype: float64

Con `DataFrame`s el *fancy indexing* puede resultar ambiguo y nos dará error de indexación.

In [15]:
# Intentadlo...

## Indexación booleana

Como con numpy, también podemos acceder a los valores mediante condiciones booleanas:

In [16]:
idx = wind['wspd'] > 35
wind[idx]

,wspd,wspd_max,wdir,x1,x2,x3,x4,x5,wspd_std
Date_time,,,,,,,,,
2013-10-28 08:30:00,36.94,44.31,224.6,999.99,999.99,99.99,9999.99,9999.99,3.07
2013-10-28 08:40:00,35.77,42.72,226.8,999.99,999.99,99.99,9999.99,9999.99,2.56

Podemos encadenar diferentes condiciones. Por ejemplo, vamos a refinar el resultado anterior:

In [17]:
idx = (wind['wspd'] > 35) & (wind['wdir'] > 225)
wind[idx]

,wspd,wspd_max,wdir,x1,x2,x3,x4,x5,wspd_std
Date_time,,,,,,,,,
2013-10-28 08:40:00,35.77,42.72,226.8,999.99,999.99,99.99,9999.99,9999.99,2.56

Usando condiciones booleanas puede resultar menos legible. Desde la versión de pandas 0.13 podemos usar el método `query` para hacerlo un poco más legible.

In [18]:
# Para que sea más eficiente hay que tener instalado 'numexpr'
# Que es el engine por defecto. Si no lo tenemos instalado y
# no indicamos el engine ('python') nos dará ImportError
wind.query('wspd > 35 and wdir > 225', engine = 'python')

,wspd,wspd_max,wdir,x1,x2,x3,x4,x5,wspd_std
Date_time,,,,,,,,,
2013-10-28 08:40:00,35.77,42.72,226.8,999.99,999.99,99.99,9999.99,9999.99,2.56

Mediante estas formas de selección pueden llegar a existir ciertas ambigüedades. Vamos a hacer un pequeño inciso para después volver a formas de selección más avanzadas.

# INCISO: Alineamiento de datos al operar con estructuras de datos de Pandas

Cuando realizamos una operación entre dos estructuras de datos de Pandas se produce un efecto de alineamiento muy práctico. Veamos esto mediante ejemplos:

In [19]:
s1 = pd.Series(np.arange(0,10), index = np.arange(0,10))
s2 = pd.Series(np.arange(10,20), index = np.arange(5,15))
print(s1)
print(s2)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
5     10
6     11
7     12
8     13
9     14
10    15
11    16
12    17
13    18
14    19
dtype: int64

Si ahora realizamos una operación entre ambas `Series`, donde es posible realizar la operación se realiza y en los índices donde no es posible se representan pero no desaparecen ni nos proporciona un error:

In [20]:
s1 + s2

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5     15.0
6     17.0
7     19.0
8     21.0
9     23.0
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
dtype: float64

# Volvemos a la indexación (reordenamos lo visto hasta ahora)

Una de las características básicas de pandas es el etiquetado de filas y de columnas, ello provoca que la indexación sea más compleja que con numpy. Hemos de distinguir entre:

- selección por etiqueta
- selección por posición (numpy)

La indexación en `Series` es más simple puesto que las etiquetas siempre se refieren a los índices ya que la columna es única. Como hemos ido viendo anteriormente de forma un poco difusa, para un `DataFrame`, la indexación básica selecciona las columnas.

Para elegir una sola columna, como ya hemos visto anteriormente:

In [21]:
wind['wspd_std']

Date_time
2013-09-04 00:00:00    0.11
2013-09-04 00:10:00    0.35
2013-09-04 00:20:00    0.08
2013-09-04 00:30:00    0.26
2013-09-04 00:40:00    0.23
2013-09-04 00:50:00    0.35
2013-09-04 01:00:00    0.12
2013-09-04 01:10:00    0.46
2013-09-04 01:20:00    0.08
2013-09-04 01:30:00    0.23
2013-09-04 01:40:00    0.16
2013-09-04 01:50:00    0.17
2013-09-04 02:00:00    0.12
2013-09-04 02:10:00    0.14
2013-09-04 02:20:00    0.35
2013-09-04 02:30:00    0.22
2013-09-04 02:40:00    0.17
2013-09-04 02:50:00    0.12
2013-09-04 03:00:00    0.16
2013-09-04 03:10:00    0.08
2013-09-04 03:20:00    0.10
2013-09-04 03:30:00    0.21
2013-09-04 03:40:00    0.08
2013-09-04 03:50:00    0.13
2013-09-04 04:00:00    0.15
2013-09-04 04:10:00    0.11
2013-09-04 04:20:00    0.10
2013-09-04 04:30:00    0.15
2013-09-04 04:40:00    0.17
2013-09-04 04:50:00    0.20
                       ...
2015-09-03 07:10:00    0.43
2015-09-03 07:20:00    0.52
2015-09-03 07:30:00    0.53
2015-09-03 07:40:00    0.49
2015-09-03 07:50:00    0.39
2015-09-03 08:00:00    0.40
2015-09-03 08:10:00    0.55
2015-09-03 08:20:00    0.54
2015-09-03 08:30:00    0.60
2015-09-03 08:40:00    0.49
2015-09-03 08:50:00    0.66
2015-09-03 09:00:00    0.56
2015-09-03 09:10:00    0.50
2015-09-03 09:20:00    0.64
2015-09-03 09:30:00    0.56
2015-09-03 09:40:00    0.50
2015-09-03 09:50:00    0.48
2015-09-03 10:00:00    0.47
2015-09-03 10:10:00    0.63
2015-09-03 10:20:00    0.53
2015-09-03 10:30:00    0.57
2015-09-03 10:40:00    0.70
2015-09-03 10:50:00    0.56
2015-09-03 11:00:00    0.50
2015-09-03 11:10:00    0.47
2015-09-03 11:20:00    0.62
2015-09-03 11:30:00    0.52
2015-09-03 11:40:00    0.53
2015-09-03 11:50:00    0.34
2015-09-03 12:00:00    0.48
Name: wspd_std, dtype: float64

O, podemos elegir varias columnas:

In [22]:
wind[['wspd', 'wspd_std']]

                     wspd  wspd_std
Date_time
2013-09-04 00:00:00  2.21      0.11
2013-09-04 00:10:00  1.69      0.35
2013-09-04 00:20:00  1.28      0.08
2013-09-04 00:30:00  1.94      0.26
2013-09-04 00:40:00  2.17      0.23
2013-09-04 00:50:00  2.25      0.35
2013-09-04 01:00:00  2.66      0.12
2013-09-04 01:10:00  3.55      0.46
2013-09-04 01:20:00  4.26      0.08
2013-09-04 01:30:00  4.62      0.23
2013-09-04 01:40:00  5.30      0.16
2013-09-04 01:50:00  4.68      0.17
2013-09-04 02:00:00  4.70      0.12
2013-09-04 02:10:00  4.87      0.14
2013-09-04 02:20:00  5.14      0.35
2013-09-04 02:30:00  5.54      0.22
2013-09-04 02:40:00  5.41      0.17
2013-09-04 02:50:00  5.16      0.12
2013-09-04 03:00:00  4.72      0.16
2013-09-04 03:10:00  4.56      0.08
2013-09-04 03:20:00  4.32      0.10
2013-09-04 03:30:00  4.25      0.21
2013-09-04 03:40:00  3.84      0.08
2013-09-04 03:50:00  3.95      0.13
2013-09-04 04:00:00  3.50      0.15
2013-09-04 04:10:00  3.36      0.11
2013-09-04 04:20:00  3.80      0.10
2013-09-04 04:30:00  4.12      0.15
2013-09-04 04:40:00  4.25      0.17
2013-09-04 04:50:00  4.03      0.20
...                   ...       ...
2015-09-03 07:10:00  7.79      0.43
2015-09-03 07:20:00  8.00      0.52
2015-09-03 07:30:00  7.62      0.53
2015-09-03 07:40:00  8.05      0.49
2015-09-03 07:50:00  7.92      0.39
2015-09-03 08:00:00  7.90      0.40
2015-09-03 08:10:00  7.65      0.55
2015-09-03 08:20:00  7.80      0.54
2015-09-03 08:30:00  7.72      0.60
2015-09-03 08:40:00  8.02      0.49
2015-09-03 08:50:00  8.40      0.66
2015-09-03 09:00:00  9.00      0.56
2015-09-03 09:10:00  8.89      0.50
2015-09-03 09:20:00  8.17      0.64
2015-09-03 09:30:00  7.93      0.56
2015-09-03 09:40:00  7.68      0.50
2015-09-03 09:50:00  8.13      0.48
2015-09-03 10:00:00  7.97      0.47
2015-09-03 10:10:00  7.78      0.63
2015-09-03 10:20:00  8.08      0.53
2015-09-03 10:30:00  8.17      0.57
2015-09-03 10:40:00  7.79      0.70
2015-09-03 10:50:00  7.17      0.56
2015-09-03 11:00:00  6.19      0.50
2015-09-03 11:10:00  6.18      0.47
2015-09-03 11:20:00  6.48      0.62
2015-09-03 11:30:00  6.68      0.52
2015-09-03 11:40:00  6.66      0.53
2015-09-03 11:50:00  6.28      0.34
2015-09-03 12:00:00  6.51      0.48

[100886 rows x 2 columns]

Pero mediante una 'rebanada' (*slicing*) accedemos a los índices:

In [23]:
wind['2015/01/01 00:00':'2015/01/01 02:00']

,wspd,wspd_max,wdir,x1,x2,x3,x4,x5,wspd_std
Date_time,,,,,,,,,
2015-01-01 00:00:00,14.81,16.67,219.4,999.99,999.99,99.99,9999.99,9999.99,0.64
2015-01-01 00:10:00,15.67,17.31,221.4,999.99,999.99,99.99,9999.99,9999.99,0.56
2015-01-01 00:20:00,15.96,17.63,224.5,999.99,999.99,99.99,9999.99,9999.99,0.74
2015-01-01 00:30:00,15.36,17.05,220.7,999.99,999.99,99.99,9999.99,9999.99,0.74
2015-01-01 00:40:00,15.62,17.41,224.6,999.99,999.99,99.99,9999.99,9999.99,0.72
2015-01-01 00:50:00,15.22,16.97,225.4,999.99,999.99,99.99,9999.99,9999.99,0.84
2015-01-01 01:00:00,15.64,16.98,216.4,999.99,999.99,99.99,9999.99,9999.99,0.52
2015-01-01 01:10:00,15.00,17.07,216.2,999.99,999.99,99.99,9999.99,9999.99,0.80
2015-01-01 01:20:00,14.54,16.46,218.2,999.99,999.99,99.99,9999.99,9999.99,0.73
2015-01-01 01:30:00,15.14,16.93,216.6,999.99,999.99,99.99,9999.99,9999.99,0.69
2015-01-01 01:40:00,15.44,17.70,222.4,999.99,999.99,99.99,9999.99,9999.99,0.75
2015-01-01 01:50:00,15.73,17.21,224.6,999.99,999.99,99.99,9999.99,9999.99,0.62
2015-01-01 02:00:00,15.49,17.05,221.4,999.99,999.99,99.99,9999.99,9999.99,0.66

Por lo que esto daría error

In [24]:
wind['wspd':'wdir']

DateParseError: Unknown datetime string format, unable to parse: wspd

In [25]:
wind[['wspd':'wdir']]

SyntaxError: invalid syntax (<ipython-input-25-3c95718b1217>, line 1)

Vaya lío, ¿no?

## Indexación avanzada

Para realizar una indexación más avanzada y menos ambigua disponemos de una serie de métodos:

* `loc`: está pensado para basar nuestra indexación en las etiquetas (aunque puede aceptar arrays booleanos).

* `iloc`: esta opción se basa en usar las posiciones mediante enteros (como si fuera un numpy array).

* `ix`: soporta combinar las dos anteriores.

Estos métodos también están disponibles en las `Series` pero no serían necesarios ya que la indexación en las `Series` no debe resultar ambigua.

Veamos como funcionan estos métodos en un `DataFrame`...

Seleccionamos los primeros tres elementos de las dos primeras columnas ('wspd', 'wspd_max'):

In [26]:
wind.loc['2013-09-04 00:00:00':'2013-09-04 00:20:00', 'wspd':'wspd_max']

                     wspd  wspd_max
Date_time
2013-09-04 00:00:00  2.21      2.58
2013-09-04 00:10:00  1.69      2.31
2013-09-04 00:20:00  1.28      1.50

In [27]:
wind.iloc[0:3, 0:2] # similar a indexación con numpy arrays wind.values[0:3, 0:2]

                     wspd  wspd_max
Date_time
2013-09-04 00:00:00  2.21      2.58
2013-09-04 00:10:00  1.69      2.31
2013-09-04 00:20:00  1.28      1.50

In [28]:
wind.ix[0:3, 'wspd':'wspd_max']

                     wspd  wspd_max
Date_time
2013-09-04 00:00:00  2.21      2.58
2013-09-04 00:10:00  1.69      2.31
2013-09-04 00:20:00  1.28      1.50

Una cuarta forma que no hemos visto hasta ahora de forma deliberada:

In [29]:
wind[0:3][['wspd', 'wspd_max']]

                     wspd  wspd_max
Date_time
2013-09-04 00:00:00  2.21      2.58
2013-09-04 00:10:00  1.69      2.31
2013-09-04 00:20:00  1.28      1.50

In [30]:
wind[['wspd', 'wspd_max']][0:3]

                     wspd  wspd_max
Date_time
2013-09-04 00:00:00  2.21      2.58
2013-09-04 00:10:00  1.69      2.31
2013-09-04 00:20:00  1.28      1.50

# Practiquemos un poco todo esto

1. Devolved todos los datos de enero de 2014

2. Calculad la velocidad media de febrero de 2014

3. Usad el método `query` para obtener todas las velocidades que provienen del norte (en un rango de $\pm$ 10 º considerando el norte orientado a 0º) y cuya velocidad sea superior a 10 m/s

4. Lo mismo que el punto anterior pero usando la notación booleana típica de numpy

5. Todo lo anterior lo podéis hacer usando `loc`, `iloc` y/o `ix`. Practicad con las tres posibilidades.

# Una última curiosidad útil si trabajamos con series temporales

Las estructuras de datos de pandas disponen de un método para seleccionar entre horas:

In [31]:
wind.between_time('00:00', '00:30').head(20)

,wspd,wspd_max,wdir,x1,x2,x3,x4,x5,wspd_std
Date_time,,,,,,,,,
2013-09-04 00:00:00,2.21,2.58,113.5,999.99,999.99,99.99,9999.99,9999.99,0.11
2013-09-04 00:10:00,1.69,2.31,99.9,999.99,999.99,99.99,9999.99,9999.99,0.35
2013-09-04 00:20:00,1.28,1.50,96.0,999.99,999.99,99.99,9999.99,9999.99,0.08
2013-09-04 00:30:00,1.94,2.39,99.2,999.99,999.99,99.99,9999.99,9999.99,0.26
2013-09-05 00:00:00,12.97,13.40,123.0,999.99,999.99,99.99,9999.99,9999.99,0.16
2013-09-05 00:10:00,12.94,13.31,124.3,999.99,999.99,99.99,9999.99,9999.99,0.13
2013-09-05 00:20:00,12.87,13.40,124.7,999.99,999.99,99.99,9999.99,9999.99,0.30
2013-09-05 00:30:00,12.50,13.12,125.6,999.99,999.99,99.99,9999.99,9999.99,0.22
2013-09-06 00:00:00,6.07,6.47,197.4,999.99,999.99,99.99,9999.99,9999.99,0.17
2013-09-06 00:10:00,9.04,10.77,216.7,999.99,999.99,99.99,9999.99,9999.99,1.59
2013-09-06 00:20:00,10.11,11.05,220.0,999.99,999.99,99.99,9999.99,9999.99,0.51
2013-09-06 00:30:00,9.44,10.10,213.2,999.99,999.99,99.99,9999.99,9999.99,0.27
2013-09-07 00:00:00,9.52,10.98,216.4,999.99,999.99,99.99,9999.99,9999.99,0.48
2013-09-07 00:10:00,9.51,10.64,219.6,999.99,999.99,99.99,9999.99,9999.99,0.44
2013-09-07 00:20:00,9.75,11.27,217.9,999.99,999.99,99.99,9999.99,9999.99,0.42
2013-09-07 00:30:00,9.33,10.35,220.1,999.99,999.99,99.99,9999.99,9999.99,0.40
2013-09-08 00:00:00,5.66,6.81,210.9,999.99,999.99,99.99,9999.99,9999.99,0.40
2013-09-08 00:10:00,5.50,6.49,213.9,999.99,999.99,99.99,9999.99,9999.99,0.42
2013-09-08 00:20:00,5.61,6.54,212.7,999.99,999.99,99.99,9999.99,9999.99,0.34
2013-09-08 00:30:00,5.79,7.65,216.0,999.99,999.99,99.99,9999.99,9999.99,0.52

In [32]:
# También funciona en series:
wind['wspd'].between_time('00:00', '00:30').head(20)

Date_time
2013-09-04 00:00:00     2.21
2013-09-04 00:10:00     1.69
2013-09-04 00:20:00     1.28
2013-09-04 00:30:00     1.94
2013-09-05 00:00:00    12.97
2013-09-05 00:10:00    12.94
2013-09-05 00:20:00    12.87
2013-09-05 00:30:00    12.50
2013-09-06 00:00:00     6.07
2013-09-06 00:10:00     9.04
2013-09-06 00:20:00    10.11
2013-09-06 00:30:00     9.44
2013-09-07 00:00:00     9.52
2013-09-07 00:10:00     9.51
2013-09-07 00:20:00     9.75
2013-09-07 00:30:00     9.33
2013-09-08 00:00:00     5.66
2013-09-08 00:10:00     5.50
2013-09-08 00:20:00     5.61
2013-09-08 00:30:00     5.79
Name: wspd, dtype: float64